body {    
    font-family: "Neucha", sans-serif;
}
main {
    margin: 15px;
}
#about {
    display: flex;   
    justify-content: flex-start;
    align-items: center;   
    width: 90%;
}
#about div {
    flex: 1;
   
  }

#text {
    margin-top: 40px;
    flex: 2;
}

#pro {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 200px;

}
button {
    height: 20px;
    background-color:#9ccc65;
    border: none;
    border-radius: 10px;
}
video {
    display: flex;    
    width: 80%;    
}
details {
    width: 150px;
}

@media (max-width: 768px) {
    #about {
      flex-direction: column; 
    }
  
    #text {
      order: 2;
    }
  
    #about img {
      order: 1;
      width: 50%;
    }
  }